<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         backupStaticAttributes="false"
		 bootstrap="./tests/bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false">
		 <testsuites>
			 <testsuite name="Use Cases for User Entity in Administration Module">
				 <directory suffix="Test.php">./tests/Module/Administration/User/Infrastructure</directory>
				 <directory suffix="Test.php">./tests/Module/Administration/User/Application</directory>
			 </testsuite>
			 <testsuite name="Use Cases for Group Entity in Administration Module">
				 <directory suffix="Test.php">./tests/Module/Administration/Group/Infrastructure</directory>
				 <directory suffix="Test.php">./tests/Module/Administration/Group/Application</directory>
			 </testsuite>
			 <testsuite name="Use Cases for Role Entity in Administration Module">
				 <directory suffix="Test.php">./tests/Module/Administration/Role/Infrastructure</directory>
				 <directory suffix="Test.php">./tests/Module/Administration/Role/Application</directory>
			 </testsuite>
			 <testsuite name="Use Cases for Module Entity in Administration Module">
				 <directory suffix="Test.php">./tests/Module/Administration/Module/Infrastructure</directory>
				 <directory suffix="Test.php">./tests/Module/Administration/Module/Application</directory>
			 </testsuite>
			 <testsuite name="CommandBus Integration">
				 <directory suffix="Test.php">./tests/Integration/CommandBus</directory>
			 </testsuite>
		 </testsuites>
		<filter>
			<whitelist>
				<directory suffix=".php">src/</directory>
			</whitelist>
		</filter>
		<logging>
			<log type="coverage-html" target="coverage-report" lowUpperBound="35" highLowerBound="70" />
			<log type="coverage-clover" target="coverage-report/coverage.xml"/>
		</logging>
</phpunit>
